.galleryContainer {
  padding: 6rem 0;
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.buttons {
  margin-bottom: 4rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  font-weight: 700;
}

.active {
  background-color: white;
  color: black;
}

.photos, .videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax values based on your preferred item width */
  gap: 20px;
  padding: 20px;
  align-items: stretch; 
}

.photo, .video {
  width: 100%; /* Ensures each item fills the grid area */
  height: 300px;
  overflow: hidden; /* Hides parts of the image/video that exceed the item size */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}